@model buyitWeb.Models.ViewModels.CartVM

<h1>Cart</h1>


<div class="container">
    <div class="row mb-3">

        @foreach (var item in Model.Cart)
        {
            <div class="col-2">
                <img src="@item.BookModel.ImageUrl" class="w-75" />
            </div>
            <div class="col-4 h3 p-4">
                <b>Title: </b>@item.BookModel.Title
                <br />
                <b>Price: </b>@item.BookModel.Price PLN
                <br />
                <b>Quantity: </b>@item.Count <a asp-action="Minus" asp-route-cartId="@item.Id">[-]</a> <a asp-action="Plus" asp-route-cartId="@item.Id">[+]</a>
                <p>
                    <b>Total: </b>@item.BookModel.ItemTotal PLN
                    <form asp-action="Delete" asp-route-cartId="@item.Id"><button type="submit" class="h4">Delete</button></form>
                </p>
            </div>
        }
    </div>
    <div class="col-6 h3">
        <b>Total: </b>@Model.CartTotal PLN
        <p>
            <a asp-controller="Home" asp-action="Index">Back</a>
            <button class="mt-2">Buy</button>
        </p>
    </div>
</div>




