@model buyitWeb.Models.ViewModels.OrderVM

<h1>Order nr: @Model.OrderHeader.Id </h1>



<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <div class="row">
        <div class="col-6">
            Name:
            <br />
            <input disabled asp-for="OrderHeader.PhoneNumber" />
            <br />
            Phone number:
            <br />
            <input disabled asp-for="OrderHeader.PhoneNumber" />
            <br />
            Adress:
            <br />
            <input disabled asp-for="OrderHeader.StreetAddress" />
            <br />
            City:
            <br />
            <input disabled asp-for="OrderHeader.City" />
            <br />
            State:
            <br />
            <input disabled asp-for="OrderHeader.State" />
            <br />
            Postal code:
            <br />
            <input disabled asp-for="OrderHeader.PostalCode" />
            <br />
            Email:
            <br />
            <input disabled asp-for="OrderHeader.ApplicationUser.Email" />
            <br />
            Order Date:
            <br />
            <input disabled asp-for="OrderHeader.OrderDate" />
            <br />
            Carrier:
            <br />
            <input id="carrier" asp-for="OrderHeader.Carrier" />
            <br />
            Tracking number:
            <br />
            <input id="trackingNumber" asp-for="OrderHeader.TrackingNumber" />
            <br />
            Shipping Date:
            <br />
            <input disabled asp-for="OrderHeader.ShippingDate" />
            <br />
            Session ID:
            <br />
            <input disabled asp-for="OrderHeader.SessionId" />
            <br />

            @if (Model.OrderHeader.SessionId == null)
            {
                <span> Payment Due To Date:</span>
                <br />
                <input disabled value="@Model.OrderHeader.PaymentDueDate" />
                <br />
            }
            <span> Payment Date:</span>
            <br />
            <input disabled value="@Model.OrderHeader.PaymentDate" />
            <br />
            Payment Intent ID:
            <br />
            <input disabled asp-for="OrderHeader.PaymentIntentId" />
            <br />
            Payment Status:
            <br />
            <input disabled asp-for="OrderHeader.PaymentStatus" />
        </div>
        <div class="col-6 h4">
            <b>Order status:</b>
            @Model.OrderHeader.OrderStatus
            <br /><br />
            <b>Items:</b>
            @foreach (var item in Model.OrderDetail)
            {
                <br />
                @item.BookModel.Title
                <span>(@item.BookModel.Price PLN) x</span>
                @item.Count

            }
            <br /><br />
            <b>Total:</b>
            @Model.OrderHeader.OrderTotal PLN
            <br /><br />

            @if (User.IsInRole("Admin"))
            {
                @if (Model.OrderHeader.OrderStatus == Statuses.PaymentStatusApproved)
                {
                    <button asp-action="Process" type="submit" class="col-3">Process</button>
                    <br />

                    <br />
                }
                @if (Model.OrderHeader.OrderStatus == Statuses.StatusInProcess)
                {
                    <button type="submit" asp-action="Ship" class="col-3" id="ship">Ship</button>
                    <br />

                    <br />
                }
            }
            @if (Model.OrderHeader.PaymentStatus == Statuses.StatusPending)
            {
                <button type="submit" asp-action="Pay" class="col-3" >Pay</button>
                <br />

                <br />
            }
            @if (Model.OrderHeader.OrderStatus != Statuses.StatusCancelled && Model.OrderHeader.OrderStatus != Statuses.StatusShipped)
            {
                <button type="submit" asp-action="Cancel" class="col-3">Cancel Order</button>
            }

        </div>
    </div>
</form>

@section Scripts{
<script src="~/js/validatiooon.js"></script>
}