@{
    var status = Context.Request.Query["status"];
     var pending="text";
     var inprocess="text";
     var completed="text";
     var approved="text";
     var all="text";

    switch (status)
    {
        case "pending":
            pending = "active text-white";
            break;
            case "inprocess":
            inprocess = "active text-white";
            break;
            case "completed":
            completed = "active text-white active1";
            break;
            case "approved":
            approved = "active text-white";
            break;
            default:
            all = "active text-white";
            break;
    }
}

<h1>Orders</h1>

<div class="mb-4">
    <ul class="list-group list-group-horizontal-sm">
        <a asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
        <li class="list-group-item @inprocess">In Process</li>
        </a>
        <a asp-controller="Order"
           asp-action="Index" asp-route-status="pending">
        <li class="list-group-item @pending">Pending</li>
        </a>
        <a asp-controller="Order"
           asp-action="Index" asp-route-status="completed">
        <li class="list-group-item @completed">Completed</li>
        </a>
        <a asp-controller="Order"
           asp-action="Index" asp-route-status="approved">
        <li class="list-group-item @approved">Approved</li>
        </a>
        <a asp-controller="Order"
           asp-action="Index" asp-route-status="all">
        <li class="list-group-item @all">All</li>
        </a>
    </ul>
</div>

<table id="tblData" class="table table-striped mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
<script src="~/js/order.js"></script>
    }
