@page
@using buyitWeb.Models
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@if (User.IsInRole(Roles.Admin))
{
    
    <h1 class="pt-4">Register - ADMIN PORTAL</h1>
}
else{
<h1 class="pt-4">@ViewData["Title"]</h1>
}
<div>
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Input.Email"></label>
                <br />
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Name"></label>
                <br />
                <input asp-for="Input.Name"  aria-required="true" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            
            <div>
                <label asp-for="Input.PhoneNumber"></label>
                <br />
                <input asp-for="Input.PhoneNumber" aria-required="true" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.StreetAddress"></label>
                <br />
                <input asp-for="Input.StreetAddress" aria-required="true" />
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.City"></label>
                <br />
                <input asp-for="Input.City" aria-required="true" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.State"></label>
                <br />
                <input asp-for="Input.State"  aria-required="true" />
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.PostalCode"></label>
                <br />
                <input asp-for="Input.PostalCode"  aria-required="true" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password"></label>
                <br />
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <br />
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit">Register</button>
        </form>
    </div>
@if (User.IsInRole(Roles.Admin))
    {
        <div class="col-md-5 ">
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    }
</div>
